// pagina de contacto
.contactContainer__left {
    @extend %asideContent;
    width: map-get($estilos, widthUno );
    @extend %displayFlexColumn;
    div{
        width: map-get($estilos, widthUno );
    }
    h1{
        color: $fontColor;
        @include alineacionTexto(center, 10px 0);
    }
    form{
        width: 80%;
        background-color: $fontColor;
        border-radius: 20px;
        padding: 20px;
        @extend %displayFlexColumn;
        margin-bottom: 10vh;
    }
    form legend{
        margin: map-get($estilos, marginUno );
        margin-bottom: 20px;
    
    }
    form fieldset{
        height: 500px;
        border: none;
        text-align: center;
    }
}
.button {
    background-color: $secondaryColor;
    color: $primaryColor;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}
.contactContainer__left__form{
    @include images(true,300px,30px);
    border: solid 2px $complementarycolor;
    text-align: center;
    font-size: $primaryFontSize;
}
.contactContainer__left__textArea{
    @extend .contactContainer__left__form;
    padding-top: 60px;
}