@mixin flexWrapContainer($alignItems, $flexWrap){
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}
@mixin images($borderRadius: false, $width, $height){
        width: $width;
        height: $height;
        @if ($borderRadius) {
            border-radius: 10px;  
        }@else{
            border-radius: 0px;
        }
}
@mixin medidasBasicas($width, $height, $margin){
    width: $width;
    height: $height;
    margin: $margin;
}