// pagina conocenos
.equipoSuperior {
    margin: 10px 40px;
    color: $fontColor;
    padding-top: 50px;
    h1{
        text-align: center;
        margin-bottom: 40px;
    }
    div {
        width: map-get($estilos, widthUno );
    }
    img {
        border-radius: 20px;
    }
}
.equipoInferior{
    margin: map-get($estilos, marginUno);
    width: 80%;
    img {
        border-radius: 20px;
    }
}
.equipoSuperior__imagen{
    width: map-get($estilos, widthUno );
    margin: 40px 0;
}
.equipoInferior__personas{
    @include alineacionTexto (center, 20px 0);
    width: map-get($estilos, widthUno );
    color: $fontColor;
    h2 {
        margin: 10px 0;
        font-size: 2vh;
    }
    p{
        font-size: $primaryFontSize;
    }
}
