// pagina conocenos
.equipoSuperior {
    margin: 10px 40px;
    color: $fontColor;
    padding-top: 50px;
    h1{
        font-family: 'Staatliches', cursive;
        text-align: center;
        margin-bottom: 40px;
    }
    div {
        width: map-get($estilos, widthUno );
    }
    img {
        border-radius: 20px;
    }
}
.equipoInferior{
    margin: map-get($estilos, marginUno);
    width: 80%;
    img {
        border-radius: 20px;
    }
}
.equipoSuperior__imagen{
    width: map-get($estilos, widthUno );
    margin: 40px 0;
}
.equipoInferior__personas{
    text-align: center;
    width: map-get($estilos, widthUno );
    margin: 20px 0px;
    color: $fontColor;
    h2 {
        font-family: 'Staatliches', cursive;
        margin: 10px 0;
        font-size: 2vh;
    }
    p{
        font-size: $primaryFontSize;
    }
}
/* seccion de servicios destacados */
.featuredServices__content{
    width: 100%;
    img{
        width: 80px;
        margin: map-get($estilos, marginDos );
    }
}