/* banner principal  */
.mainPage__banner {
    img {
        width: 100%;
    }
}
.mainPage__bannerDesktop{
    img{
        display: none;
    }
} 
/* sub banners */
.mainPage__Subbanner {
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    margin-top: 20px;
    img {
        @include images (10px, 38%, 38%);
        margin: 15px 10px;
        filter: saturate(100%);
    }
}
/* seccion de servicios destacados */
.featuredServices__title, .brands__tittle{
    text-align: center;
    margin: 30px 0;
}
.featuredServices__content{
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    width: 100%;
    margin: auto;
}
.featuredServices__images{
    @include images (10px, 38%, 38%);
    margin: 10px;
}
/* marcas con las que trabajamos */
.brands__logo {
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    width: 100%;
    height: 100px;
    margin:auto;
    img {
        width: 100px;
        margin: 10px;
        transition: 500ms;
    }
}