// main pagina servicios
.servicesAside__title {
    text-align: center;
}
/* Seccion de servicios */
.services {
    width: map-get($estilos, widthUno );
    margin-top: $marginTopGeneral;
}

.services__post{
    @extend%displayFlexColumn;
    margin: 50px 0;
    color: $fontColor;
}
.services__gallery {
    img{
        @include images (true, 300px, 300px);
    }
    div{
        img {
            @include images (true, 80px, 80px);
            margin: 5px 8px;
        }
    }
}
.services__descriptionPost {
    margin: 0 50px;
    font-size: $primaryFontSize;
}
.services {
    width: map-get($estilos, widthUno );
    article h3,h1 {
    margin: 20px 110px;
    text-align: center;
    }
    article {
        margin: 20px 0;
    }
}
/* lista lateral de servicios */
.servicesAside {
    @extend %asideContent;
}
.projectsAside__title {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: $fontColor;
}
.servicesAside__list, .projectsAside__list {
    text-align: center;
    a{
        color: $fontColor;
        line-height: 30px;
        text-decoration: none;
    }
}
.images__aside{
    @extend %displayFlex;
}
.servicesAside, .projectsAside{
    img{
        @include images (true, 38%, 38%);
        margin: 30px auto;
    }
}
.projectsAside__imgEquipo{
    @extend %displayFlex;
}
.servicesAside__contact  {
    @extend %botonContacto;
}

.servicesAside, .projectsAside{
    div{
        display: flex;
        justify-content: center;
    }
}
.servicesAside__contact, .projectsAside__contact{
    &:hover {
        background-color: $complementarycolor;
        color: $fontColor;
        transition: map-get($estilos , transicionUno );
    }
}