/* banner principal  */
.mainPage__banner {
    img {
        width: map-get($estilos, widthUno );
    }
}
.mainPage__bannerDesktop{
    img{
        display: none;
    }
} 
/* sub banners */
.mainPage__Subbanner {
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    margin-top: 20px;
    img {
        @include images ( true, 38%, 38%);
        width: map-get($estilos, marginDos );
        filter: saturate(100%);
    }
}
/* seccion de servicios destacados */
.featuredServices__title, .brands__tittle{
    text-align: center;
    margin: 30px 0;
}
.featuredServices__content{
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    width: map-get($estilos, widthUno );
    width: map-get($estilos, marginUno);
}
.featuredServices__images{
    @include images (true, 38%, 38%);
    width: map-get($estilos, marginDos );
}
/* marcas con las que trabajamos */
.brands__logo {
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    width: map-get($estilos, widthUno );
    height: 100px;
    margin: map-get($estilos , marginUno );
    img {
        width: map-get($estilos, widthDos );
        margin: map-get($estilos , marginDos );
        margin: map-get($estilos , transicionUno );
    }
}