/* banner principal  */
.mainPage__banner {
    img {
        width: map-get($estilos, widthUno );
    }
}
.mainPage__bannerDesktop{
    img{
        display: none;
    }
} 
/* sub banners */
.mainPage__Subbanner {
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    margin-top: $marginTopGeneral;
    img {
        @include images ( true, 38%, 38%);
        margin: map-get($estilos, marginDos );
        @include filtroGris (true);
        
    }
}
/* seccion de servicios destacados */
.featuredServices__title, .brands__tittle{
    text-align: center;
    margin: 30px 0;
}
.featuredServices__content{
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    width: map-get($estilos, widthUno );
    margin: map-get($estilos, marginUno);
    img{
        @include images (true, 58%, 58%);
        margin: map-get($estilos, marginDos );
    }
}
/* marcas con las que trabajamos */
.brands__logo {
    @extend %displayFlex;
    @include flexWrapContainer(center, wrap);
    @include medidasBasicas(100%, 100px, auto);
    img {
        width: map-get($estilos, widthDos );
        margin: map-get($estilos , marginDos );
        transition: map-get($estilos , transicionUno );
    }
}